body {
  background: #f8e8a6;
}

h1,
p {
  text-align: center;
}
h1 {
  display: block;
  font-size: 32px;
}
footer {
  display: block;
  text-align: center;
}
footer a {
  color: green;
  margin: 0 10px;
}
.croissant-picture {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  max-width: 100%;
}
